.container {
    padding: 0 1rem;
    max-width: 1220px;
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bayan-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.img-wrapper {
   width: 100%;
   padding-top: 1rem;
   padding-bottom: 2rem;
}

.img-bayan {
   display: block;
   max-width: 20rem;
   width: 100%;
   height: 0;
   object-fit: contain;
   margin: 1rem auto;
}

input[type="radio"] {
    width: 0;
    height: 0;
}

input[type="radio"]:checked  ~ .img-wrapper > .img-bayan{
    height: 100%;
    transition: height 0.5s;
} 

 input[type="radio"]:checked ~ .line-desc > .icon {
    transform: rotate(90deg);
}

input[type="radio"]:checked ~ .line-desc > .line-title {
    color: black;
}  

.line {
    display: flex;
    overflow: hidden;
    width: 100%;
    border-top: 0.05rem solid rgb(101, 88, 88);
}

.line-desc {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: -2.5rem;
}

.line-title {
    color:blue;
    font-size: 1.4rem;
    font-weight: 600;
    transition: color, 0.8s;
    margin-right: 0.5rem;
}

.input-radio {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: -1rem;
    transition: height 1s;
}

.icon {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    transform: rotate(45deg);
    transition: transform, 0.5s;
    opacity: 1;
}
